html, body {
  font-family: 'AverageMono', monospace;
  background-color: #000000;
  color: #00FF00;
}

h1 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
  color: #FFFFFF;
}

p,
li,
form input,
dl {
  font-size: 1.5em;
  line-height: 1em;
}

p,
form {
  margin-top: 1em;
}

h1,
p,
li,
form input,
dl {
  letter-spacing: .4em;
}

div.right li:before {
  content: "-";
}

a,
form input {
  text-transform: uppercase;
  cursor: pointer;
}

a:link,
a:visited,
form input {
  text-decoration: none;
  color: #80FF80;
  font-family: inherit;
}

a:hover,
form input:hover {
  text-decoration: none;
  color: #BFFFBF;
}

a.left:hover:after {
  content: "<";
}

a.right:hover:before {
  content: ">";
}

a:active,
form input:active {
  text-decoration: none;
  color: #80FF80;
}

form input {
  background: none !important;
  border: none; 
  padding: 0 !important;
  margin: 0;
}

div.container#header {
  height: 100px;
}

div.pane-50 {
  width: 50%;
  float: left;
}

div.pane > * {
  padding-left: .5em;
  padding-right: .5em;
}

div.pane.right p {
  max-width: 18em;
}

div.left {
  text-align: right;
}

div.right {
}

div#matrix-id {
  display: none;
}

div#matrix dl dt,
div#matrix dl dd {
  display: inline-block;
}

div#matrix dl dt {
  color: #FFFFFF;
}
